.experience-button {
  @media (min-width: 992px) {
    background-color: var(--experienceBackground);
    box-shadow:
      2px -2px 5px var(--experienceBorder),
      -2px 2px 5px var(--experienceBorder);
  }
}

.propagation_disable {
  :hover {
    background-color: transparent;
    box-shadow: none;
  }
}

.link-button a:hover {
  svg {
    transform: translate(3px, -3px);
    transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
