.experience-button {
  @media (min-width: 992px) {
    background-color: var(--experienceBackground);
    box-shadow:
      2px -2px 5px var(--experienceBorder),
      -2px 2px 5px var(--experienceBorder);
  }
}

.propagation_disable {
  :hover {
    background-color: transparent;
    box-shadow: none;
  }
}

.link-button a:hover {
  svg {
    transform: translate(3px, -3px);
    transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

[data-theme='dark'] {
  .skills {
    color: rgb(93, 233, 212);
    background-color: rgb(0, 115, 121, 0.3);
  }
}

[data-theme='light'] {
  .skills {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255, 0.7);
  }
}
