.navigation-row {
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  border-bottom-width: 1px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;

  background-color: var(--color-primarySecond);
  border-color: var(--color-border);
  box-shadow: 0 1px 3px var(--color-box);
}

.header-button {
  background-color: transparent;
  height: 100%;
  padding: 2px 0;
  color: var(--color-text);
  &.ant-btn-link:not(:disabled):not(.ant-btn-disabled):hover {
    color: var(--color-text);
  }
}

[data-theme='dark'] {
  .navigation-row {
    --color-border: rgba(255, 255, 255, min(var(--dr-opacity), 0.1));
    --color-box: rgba(255, 255, 255, min(var(--dr-opacity), 0.3));
  }
}

[data-theme='light'] {
  .navigation-row {
    --color-border: rgba(0, 0, 0, min(var(--dr-opacity), 0.1));
    --color-box: rgba(0, 0, 0, min(var(--dr-opacity), 0.3));
  }
}
