@import '../../../styles/variables';

.fade-bottom-content {
  animation-name: fadeBottom;
  animation-duration: 1300ms;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.fade-bottom-content__disable {
  opacity: 0;
}

.content-desktop {
  min-width: calc(50% - 24px);
}

.md-main-text {
  &.markdown-adapter-base {
    color: var(--color-text);
  }
}

.skills-element {
  color: var(--color-text);
  height: 48px;
  background-color: var(--color-bg);
  margin-right: 12px;
  margin-bottom: 12px;
  z-index: 10;
}

.background-image {
  color: var(--color-bg);
  font-size: 1000px;
  position: absolute;
  height: 0;
  @media (max-width: $--adaptive-tablet) {
    width: 100%;
    translate: 0 450px;
  }
  @media (min-width: $--adaptive-desktop) {
    translate: -290px 400px;
  }
}

[data-theme='dark'] {
  & .skills-element {
    --color-text: rgb(93, 233, 212);
    --color-bg: rgba(0, 115, 121, 0.5);
  }
  & .background-image {
    --color-bg: rgba(0, 115, 121, 0.8);
  }
  & .about-text a {
    color: var(--color-text);
  }
}

[data-theme='light'] {
  & .skills-element {
    --color-text: rgba(0, 0, 0, 1);
    --color-bg: rgba(255, 255, 255, 1);
  }
  & .background-image {
    --color-bg: rgba(255, 255, 255, 0.8);
  }
  & .about-text a {
    color: var(--color-text);
  }
}
