.App {
  display: flex;
  min-height: 100vh;
}

.abs-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drednote-area {
  max-width: 1200px;
}

.drednote-col {
  height: inherit;
}

.drednote-row {
  width: inherit;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}