.App {
  display: flex;
  min-height: 100vh;
}

.dr-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dr-area {
  max-width: 1200px;
}

.dr-col {
  height: inherit;
}

.dr-row {
  width: inherit;
}

.dr-row-center {
  display: flex;
  justify-content: center;
}

.dr-col-center {
  display: flex;
  align-items: center;
}

.dr-wrap-text {
  border-radius: 9999px;
}

.dr-link {
  a:hover {
    color: var(--color-textSecondary) !important;
    svg {
      transform: translate(3px, -3px);
      transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.dr-button-default {
  border-radius: 100px;
  border: 0;
  &.ant-btn-default {
    &:not(:disabled):not(.ant-btn-disabled):hover {
      color: var(--color-buttonText);
      background-color: var(--color-primary);
    }
    color: var(--color-buttonText);
    background-color: var(--color-primary);
  }
  &.ant-btn-primary {
    &:not(:disabled):not(.ant-btn-disabled):hover {
      color: var(--color-buttonText);
      background-color: var(--color-primary);
    }
    color: var(--color-buttonText);
    background-color: var(--color-primary);
  }
}
