body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace, 'Jost',
    sans-serif;
}

:root {
  --dark_primary: rgba(255, 255, 255, 1);
  --light_primary: rgba(0, 0, 0, 1);

  --dark_text: rgba(255, 255, 255, 1);
  --light_text: rgba(0, 0, 0, 1);

  --dark_backgroundDark: rgba(6, 13, 25, 1);
  --dark_backgroundLight: rgba(4, 36, 65, 1);

  --light_backgroundDark: rgba(161, 222, 255, 1);
  --light_backgroundLight: rgba(255, 255, 255, 1);

  --dark_navBorder: rgba(255, 255, 255, 1);
  --light_navBorder: rgba(0, 0, 0, 1);
}

[data-theme='light'] {
  --primary: var(--light_primary);
  --text: var(--light_text);

  --backgroundDark: var(--light_backgroundDark);
  --backgroundLight: var(--light_backgroundLight);

  --navBorder: var(--light_navBorder);
}

[data-theme='dark'] {
  --primary: var(--dark_primary);
  --text: var(--dark_text);

  --backgroundDark: var(--dark_backgroundDark);
  --backgroundLight: var(--dark_backgroundLight);

  --navBorder: var(--dark_navBorder);
}

@font-face {
  font-family: 'Jost';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    local('Jost'),
    url('./fonts/Jost/static/Jost-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Jost';
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src:
    local('Jost'),
    url('./fonts/Jost/static/Jost-Italic.ttf') format('truetype');
}

@media (prefers-color-scheme: dark) {
}
