body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Jost', sans-serif;
}

@font-face {
  font-family: 'Jost';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    local('Jost'),
    url('./fonts/Jost/static/Jost-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Jost';
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src:
    local('Jost'),
    url('./fonts/Jost/static/Jost-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
      local('Jost'),
      url('fonts/Inter/Inter-Regular.ttf') format('truetype');
}

@media (prefers-color-scheme: dark) {
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

